.accordion {
	width: 50%;
	margin: auto;
	padding: 15vh 0;
}
@media (max-width: 728px) {
	.accordion {
		width: 90%;
	}
}

.accordion-item {
	margin-bottom: 3px;
}

.accordion-item:last-child {
	margin-bottom: 0px;
}

.accordion-content {
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.accordion-content p:first-child {
	margin-top: 1.5vw;
}

.accordion-content p {
	margin-bottom: 1.5vw;
}

.accordion-title {
	background: #064a3c;
	color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.accordion-title span {
	float: right;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

.accordion-active, .accordion-title:hover {
    background-color: #15a996;
}