.carousel-item {display: none}
img {vertical-align: middle;}

.carousel-content {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.carousel-controls {
	width: 50%;
    margin: auto;
}

@media (max-width: 728px) {
	.carousel-controls, input, textarea, .bar {
		width: 90% !important;
	}
}

.carousel-prev, .carousel-next {
  cursor: pointer;
  padding: 10px;
  color: #106d64;
}

.carousel-prev {
  border-radius: 10px 0 0 10px;
  float: left;
}

.carousel-next {
  border-radius: 0 10px 10px 0;
  float: right;
}

.carousel-prev:hover, .carousel-next:hover {
 	background-color: #feb452;
}

.carousel-dots {
	width: fit-content;
    margin: 5px 5px;
    max-width: calc(100% - 70px);
    display: inline-block;
}

.carousel-dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 7px;
	background-color: #fff;
	border: 1px solid #106d64;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.carousel-active, .carousel-dot:hover {
 	background-color: #feb452;
 	border: 1px solid #feb452;
}

/* Fading animation */
.carousel-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}

@-moz-keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}

@-ms-keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}

@keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}