.form_contact {
    margin: auto;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}
.group:last-child {
	margin-bottom: 0px;
}
input, textarea {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	border: none;
	border-bottom: 1px solid #fff;
	background: #0d6358;
	color: #fff;
}
input:focus, textarea:focus {
	outline: none;
}

/* LABEL */
label 				 {
	color: #fff; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all; 
	-ms-transition: 0.2s ease all; 
	transition: 0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label{
	top: -20px;
	font-size: 14px;
	color: #fff;
}

/* funcionar no ie9 */
@media \9screen,screen\0 {
	input, textarea {
		padding-left: 8vw !important;
	}
}

/* BOTTOM BARS */
.bar {
	position: relative;
	display: block;
}
.bar:before, .bar:after 	{
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #fff;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all; 
	-ms-transition: 0.2s ease all;
	transition: 0.2s ease all; 
}
.bar:before {
 	left: 50%;
}
.bar:after {
 	right: 50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
 	width: 50%;
}

.form_contact, input, textarea, .bar {
	width: 30vw;
}